
.footer-container{
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 #footer{
  background-color: #2a583d;
color: white; 
position: sticky;
}

@media screen and (max-width: 425px) {
    #footer{
        font-size: 14px;
    }
}